In [ ]:
from pyspark.sql import SparkSession

spark = (SparkSession.builder.master('local')
         .appName('Food Delivery')
         .enableHiveSupport()
         .getOrCreate())

## Initialise some datasets

In [ ]:
spark.sql('CREATE DATABASE IF NOT EXISTS public')

spark.sql('''
    CREATE TABLE IF NOT EXISTS public.restaurants(
        id                  INTEGER,
        created_at          TIMESTAMP,
        updated_at          TIMESTAMP,
        name                STRING,
        email               STRING,
        address             STRING,
        phone               STRING,
        city_id             INTEGER,
        business_hours_id   INTEGER,
        description         STRING
    );
''')

spark.sql('''
        CREATE TABLE IF NOT EXISTS public.orders_7_days(
        order_id      INTEGER,
        placed_on     TIMESTAMP,
        discount_id   INTEGER,
        restaurant_id INTEGER,
        menu_id       INTEGER,
        menu_item_id  INTEGER,
        category_id   INTEGER
    )
''')

In [ ]:
spark.sql('INSERT INTO public.restaurants values (7, NOW(), NOW(), "BBUZZ DONER", "great@doner.de", "-", "-", 5, 0, "")')

In [ ]:
spark.sql('INSERT INTO public.orders_7_days values (1, NOW(), 1, 7, 0, 0, 0)')