In [20]:
from openlineage_sql import parse

def prettyprint_column_lineage(lineage):
    print("\n".join([f"table: '{x.descendant.name}' origin_columns {['table ' + col.origin.name + ' - column ' + col.name for col in x.lineage]}" for x in lineage]))

In [28]:
sql = """
  SELECT r.id, r.name, r.address, count(order_id) as orders
  FROM public.restaurants r
  JOIN public.orders_7_days o ON (o.restaurant_id = r.id) 
  GROUP BY r.id, r.name, r.address
"""

prettyprint_column_lineage(parse([sql]).column_lineage)

table: 'address' origin_columns ['table restaurants - column address']
table: 'id' origin_columns ['table restaurants - column id']
table: 'name' origin_columns ['table restaurants - column name']
table: 'orders' origin_columns ['table restaurants - column order_id']

In [17]:
%%bash
wget -q https://repo1.maven.org/maven2/io/openlineage/openlineage-sql-java/0.27.2/openlineage-sql-java-0.27.2.jar -O ../openlineage-sql-java-0.27.2.jar

In [18]:
%ls ../

notebooks/  openlineage-sql-java-0.27.2.jar  TestParser.class  work/

In [29]:
%%bash
cd ../ && java -cp openlineage-sql-java-0.27.2.jar:. TestParser "$(<notebooks/top_berlin_restaurants.sql)" | jq .

{
  "inTables": [
    "public.orders_7_days",
    "public.restaurants"
  ],
  "outTables": [],
  "columnLineage": [
    {
      "descendant": {
        "origin": "unknown",
        "name": "address"
      },
      "lineage": [
        {
          "origin": "public.restaurants",
          "name": "address"
        }
      ]
    },
    {
      "descendant": {
        "origin": "unknown",
        "name": "id"
      },
      "lineage": [
        {
          "origin": "public.restaurants",
          "name": "id"
        }
      ]
    },
    {
      "descendant": {
        "origin": "unknown",
        "name": "name"
      },
      "lineage": [
        {
          "origin": "public.restaurants",
          "name": "name"
        }
      ]
    },
    {
      "descendant": {
        "origin": "unknown",
        "name": "orders"
      },
      "lineage": [
        {
          "origin": "public.restaurants",
          "name": "order_id"
        }
      ]
    }
  ],
  "errors": []
}